<div class="lists-row">
  <mat-card class="lists-col list-card" *ngFor="let list of lists">
      <mat-card-header>
        <mat-card-title>{{list}}</mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="below">
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Remove list</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <div class="test"></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add a card...</button>
      </mat-card-actions>
  </mat-card>
  <div class="lists-col">
    <mat-form-field class="list-input">
      <input matInput placeholder="Add list a ..." [(ngModel)]="newCardTitle" (keyup.enter)="addList()">
    </mat-form-field>
  </div>
</div>


