<div class="lists-row">
  <app-task-list class="lists-col" *ngFor="let list of lists" [list]="list" (removeListItem)="removeList($event)">

  </app-task-list>
  <!--<mat-card class=" list-card" *ngFor="let list of lists">-->
      <!--<mat-card-header>-->
        <!--<mat-card-title>{{list}}</mat-card-title>-->
        <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
          <!--<mat-icon>more_vert</mat-icon>-->
        <!--</button>-->
        <!--<mat-menu #menu="matMenu" yPosition="below">-->
          <!--<button mat-menu-item (click)="removeList(list)">-->
            <!--<mat-icon>delete</mat-icon>-->
            <!--<span>Remove list</span>-->
          <!--</button>-->
        <!--</mat-menu>-->
      <!--</mat-card-header>-->
      <!--<mat-card-content *ngIf="cards.length">-->
        <!--<div *ngFor="let card of cards | taskCardFilter: list" class="task-card">-->
          <!--<p>{{card.title}}</p>-->
        <!--</div>-->
      <!--</mat-card-content>-->
      <!--<mat-card-actions>-->

        <!--<button mat-raised-button *ngIf="!createdCard" (click)="startCreateCard()" class="add-card-button">Add a card...</button>-->
        <!--<div *ngIf="createdCard" class="create-card-block">-->
          <!--<textarea matInput placeholder="Add card a ..." matTextareaAutosize matAutosizeMinRows="3" [(ngModel)]="newCardTitle" (keyup.enter)="addCard(list)"></textarea>-->
          <!--<div>-->
            <!--<button mat-raised-button (click)="addCard(list)">Add</button>-->
            <!--<button mat-raised-button color="accent" (click)="cancelAddingCard()">Cancel</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-card-actions>-->
  <!--</mat-card>-->
  <div class="lists-col">
    <mat-form-field class="list-input">
      <input matInput placeholder="Add list a ..." [(ngModel)]="newListTitle" (keyup.enter)="addList()">
    </mat-form-field>
  </div>
</div>


