
.task-card{
  margin: 8px !important;
  box-sizing: border-box;
  background: #fafafa;
  padding: 8px;
  border-radius: 2px;
  white-space: nowrap;
  position: relative;
}

.task-card p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-card:hover {
  background: #dedede;
  padding-right: 48px;
}

.task-card .action-buttons{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.task-card .edit-btn .mat-icon{
  font-size: 14px;
  text-align: center;
  line-height: 24px;
}
.task-card:hover .action-buttons{
  display: block;
}
