.lists-row{

  display: flex;
  overflow: auto;
  position: fixed;
  top: 72px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}
.lists-col{
  width: 320px;
  padding: 0 8px;
  flex: 0 0 auto;
}

.list-input{
  width: 100%;
}
.error{
  color: red;
  font-size: 14px;
  margin-top: -12px;
}
