<mat-card class=" list-card"  >
  <mat-card-header>
    <mat-card-title>{{list.name}}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>delete</mat-icon>
        <span>Remove list</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content *ngIf="cards.length" dnd-droppable (onDropSuccess)="onDrop($event, list.name)">
    <div *ngFor="let card of cards | taskCardFilter: list.name"
         dnd-draggable
         [dragEnabled]="true"
         [dragData]="{id: card.id}">
      <app-task-list-card [card]="card"></app-task-list-card>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button *ngIf="!createdCard" (click)="startCreateCard()" class="add-card-button">Add a card...</button>
    <div *ngIf="createdCard" class="create-card-block">
      <textarea matInput placeholder="Add card a ..." matTextareaAutosize matAutosizeMinRows="3" [(ngModel)]="newCardTitle"></textarea>
      <div>
        <button mat-raised-button (click)="addCard(list)" [disabled]="!newCardTitle.length">Add</button>
        <button mat-raised-button color="accent" (click)="cancelAddingCard()">Cancel</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
