.flex-container{
  display: flex;
  justify-content: space-between;
}

.actions .mat-button{
  display: block;
}

.label-button{
  display: block;
  padding: 8px 0;
}
.label-button:hover{
  cursor: pointer;
}
.action-buttons a{
  margin: 0 4px;
}
